<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>7040751884-n0jrpd4c72rf3itcr7ii3277jiebtde3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.7040751884-n0jrpd4c72rf3itcr7ii3277jiebtde3</string>
	<key>API_KEY</key>
	<string>AIzaSyDvmJRkyI-A8vddVaoTJEEMkUz-Wz_NKOE</string>
	<key>GCM_SENDER_ID</key>
	<string>7040751884</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cmmc.react.native.firebase</string>
	<key>PROJECT_ID</key>
	<string>company-network-1481121239049</string>
	<key>STORAGE_BUCKET</key>
	<string>company-network-1481121239049.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:7040751884:ios:5e5e8e05ecbe7846</string>
	<key>DATABASE_URL</key>
	<string>https://company-network-1481121239049.firebaseio.com</string>
</dict>
</plist>